
/* ---- Page Elements ---- */

body {
  font-family: $font-stack;
  color: $color-black;
}

h1 {
  font-weight: $font-light;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  font-weight: $font-bold;

  @include for-size(large) {    
    text-align: left;
    padding-left: 20px;
 }
}

.search-container {
  font-size: .9em;

  input {
    font-weight: $font-light;
  }
}


/* ---- Cards ---- */

.card-info {

  .name {
    font-weight: $font-bold;
    font-size: 1.2em;
  }

  .email ,
  .location {
    font-weight: $font-light;
    font-size: .9em;
  }
}


/* ---- Modal ---- */

.modal-content {
  text-align: center;
  font-weight: $font-light;
  font-size: .95em;

  .name {
    font-weight: $font-bold;
    font-size: 1.2em;
  }

}

.modal-x {
  color: $color-black;
  text-align: right;
  font-size: 36px;
}

.navigate div i {
  font-size: 1.2em;
}