
/* ---- Color Variables ---- */

$color-white: #fff;
$color-black: #2a2a2a;
$color-blue: #A2ADC3;
$color-grey: #e3e3e3;
$color-light-grey: rgba(247,247,247, .6);


/* ---- Font Variables ---- */

$font-stack: 'Lato', sans-serif;

$font-light: 300;
$font-bold: 700;

/* ---- Media Variables ---- */

$border-grey: 2px solid $color-grey;
$border-blue: 2px solid $color-blue;
$border-blue-thin: 1px solid $color-blue;