
/* ---- Color Variables ---- */

$color-white: #fff;
$color-black: #2a2a2a;

$color-grey: #d0d0d0;
$color-light-grey: #f7f7f7;

$color-red: red;


/* ---- Font Variables ---- */

$font-stack: 'Lato', sans-serif;

$font-light: 300;
$font-bold: 700;

/* ---- Media Variables ---- */

$border-grey: 2px solid $color-grey;

/* ---- Media Variables ---- */

$medium: 768px;
$large: 1250px;