
/* ---- Color Variables ---- */

$color-white: #fff;
$color-black: #2a2a2a;

$color-dark-grey: #656565;
$color-grey: #b2b2b2;
$color-light-grey: #f4f4f4;

$color-red: red;


/* ---- Font Variables ---- */

$font-stack: 'Montserrat', sans-serif;

$font-light: 300;
$font-bold: 700;

/* ---- Media Variables ---- */

$border-grey: 1px solid $color-grey;

/* ---- Media Variables ---- */

$medium: 768px;
$large: 1250px;